<h1>GitHub Contributors</h1>

<div class="col-lg-4">

  <%= bootstrap_form_for @user do |f| %>
      <%= f.text_field :username, placeholder: 'GitHub Username' %>
      <%= f.primary 'Get Contributions'%>
  <% end %>
  
</div>